@import 'components/mixins';
@import 'components/keyframes';
@import 'components/steps';

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

body {
	padding-top: 90px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #444;
	box-sizing: border-box;
	display: none;

	* {
		font-family: Arial, sans-serif;
		transition: all 0.6s;
		box-sizing: border-box;
	}

	h1, h2 {
		text-align: center;
		
		span {
			color: #008080;
		}
		
	}
	
	p {
		font-size: 20px;
		line-height: 1.5;
		margin: 0 0 20px 0;
	}
	
	ul {
		li {
			font-size: 20px;
			line-height: 1.5;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}

}


.pager {
	text-align: center;
	
	& > * {
		display: inline-block;
		text-transform: uppercase;
		font-size: 16px;
		color: #fff;
		background: #ACACAC;
		text-decoration: none;
		padding: 10px 20px;
		margin: 0 10px;
		line-height: 1;
		
		&:hover {
			background: #008080;
		}
		
	}
	
}

.row {
	@include clear-fix();
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;

	& > * {
		float: left;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.col-1 {
		width: 100%;
	}
	
	.col-2 {
		width: 50%;
	}

	.col-4 {
		width: 25%;
	}

}

.clearfix {
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

table, td {
	vertical-align: middle;
	border: 0;
}

.logo {
	background: url(../img/logo.png) no-repeat left top; 
	top: 20px;
	left: 50px;
	width: 175px;
	height: 67px;
	position: absolute;

	&:hover {
		opacity: 0.9;
	}

}

.resp-img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}

.alert {
	color: #f00;
}

.center {
	text-align: center;
}

.justify {
	img {
		margin-left: 30px;
		margin-right: 30px;
	}
}

.arrow {
	font-size: 40px;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
}

.author {
	position: fixed;
	bottom: 15px;
	right: 15px;
	font-style: italic;
	color: rgb(238, 238, 238);
}

.start-button {
	@include ico-bg(50%, 58px center);
	@include play-ico('rgb(255, 255, 255)');
	display: inline-block;
	background-color: #008080;
	margin-top: -100px;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 0 0 rgba(0, 128, 128, 0.7);
	border-radius: 50%;
	cursor: pointer;
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.start-button:hover {
	@include play-ico('rgb(238, 238, 238)');
}