body {
	&.step-0 {

		.logo {
			top: -100%;
		}
		
	}
	
	
	&.step-1  .steps {
		& > *:first-of-type {
			margin-left: -100%;
		}
	}
	
	&.step-2  .steps {
		& > *:first-of-type {
			margin-left: -200%;
		}
	}
	
	&.step-3  .steps {
		& > *:first-of-type {
			margin-left: -300%;
		}
	}

	&.step-4  .steps {
		& > *:first-of-type {
			margin-left: -400%;
		}
	}

	&.step-5  .steps {
		& > *:first-of-type {
			margin-left: -500%;
		}
	}

	&.step-6  .steps {
		& > *:first-of-type {
			margin-left: -600%;
		}
	}

	&.step-7  .steps {
		& > *:first-of-type {
			margin-left: -700%;
		}
	}

}

.steps {
	width: 100%;
	overflow:  hidden;
	font-size: 0;
	white-space: nowrap;

	& > * {
		white-space: initial;
		font-size: initial;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		padding: 15px;
	}
	
	.step-0 {
		text-align: center;
	}
	
}